{% extends "base.html" %} {% block title %}Projects{% endblock %} {% block content
%}
<h1>Projects</h1>
<hr class="border" />
<ul class="list-group">
    <li class="list-group-item">
        <h3 align="center"><a href="https://github.com/victorDigital">victorDigital</a>/<a
                href="https://github.com/victorDigital/p5weather">p5weather</a></h3>
        {{ html1|safe }}
        <p> try it out</p> <a class="btn btn-primary" href="https://victordigital.github.io/w/">here</a>
    </li>
    <li class="list-group-item">
        <h3 align="center"><a href="https://github.com/victorDigital">victorDigital</a>/ <a
                href="https://github.com/victorDigital/lectioToGoogleCalendar">lectioToGoogleCalendar</a></h3>
        {{ html2|safe }}
    </li>
    <li class="list-group-item">
        <h3 align="center"><a href="https://github.com/victorDigital">victorDigital</a>/ <a
                href="https://github.com/victorDigital/Flask-Web-App">Flask-Web-App</a></h3>
        {{ html3|safe }}
    </li>
</ul>
{% endblock %}